/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;
*/
$arrow_select_x = 679px;
$arrow_select_y = 65px;
$arrow_select_offset_x = -679px;
$arrow_select_offset_y = -65px;
$arrow_select_width = 20px;
$arrow_select_height = 12px;
$arrow_select_total_width = 699px;
$arrow_select_total_height = 215px;
$arrow_select_image = '../../../img/second_sprite.png';
$arrow_select = 679px 65px -679px -65px 20px 12px 699px 215px '../../../img/second_sprite.png';
$btn_clean_numbers_x = 261px;
$btn_clean_numbers_y = 134px;
$btn_clean_numbers_offset_x = -261px;
$btn_clean_numbers_offset_y = -134px;
$btn_clean_numbers_width = 56px;
$btn_clean_numbers_height = 27px;
$btn_clean_numbers_total_width = 699px;
$btn_clean_numbers_total_height = 215px;
$btn_clean_numbers_image = '../../../img/second_sprite.png';
$btn_clean_numbers = 261px 134px -261px -134px 56px 27px 699px 215px '../../../img/second_sprite.png';
$btn_yellow_x = 426px;
$btn_yellow_y = 129px;
$btn_yellow_offset_x = -426px;
$btn_yellow_offset_y = -129px;
$btn_yellow_width = 232px;
$btn_yellow_height = 52px;
$btn_yellow_total_width = 699px;
$btn_yellow_total_height = 215px;
$btn_yellow_image = '../../../img/second_sprite.png';
$btn_yellow = 426px 129px -426px -129px 232px 52px 699px 215px '../../../img/second_sprite.png';
$float_cloud_x = 338px;
$float_cloud_y = 0px;
$float_cloud_offset_x = -338px;
$float_cloud_offset_y = 0px;
$float_cloud_width = 361px;
$float_cloud_height = 65px;
$float_cloud_total_width = 699px;
$float_cloud_total_height = 215px;
$float_cloud_image = '../../../img/second_sprite.png';
$float_cloud = 338px 0px -338px 0px 361px 65px 699px 215px '../../../img/second_sprite.png';
$icon_calendar_x = 225px;
$icon_calendar_y = 172px;
$icon_calendar_offset_x = -225px;
$icon_calendar_offset_y = -172px;
$icon_calendar_width = 26px;
$icon_calendar_height = 26px;
$icon_calendar_total_width = 699px;
$icon_calendar_total_height = 215px;
$icon_calendar_image = '../../../img/second_sprite.png';
$icon_calendar = 225px 172px -225px -172px 26px 26px 699px 215px '../../../img/second_sprite.png';
$icon_padlock_x = 201px;
$icon_padlock_y = 172px;
$icon_padlock_offset_x = -201px;
$icon_padlock_offset_y = -172px;
$icon_padlock_width = 24px;
$icon_padlock_height = 26px;
$icon_padlock_total_width = 699px;
$icon_padlock_total_height = 215px;
$icon_padlock_image = '../../../img/second_sprite.png';
$icon_padlock = 201px 172px -201px -172px 24px 26px 699px 215px '../../../img/second_sprite.png';
$icon_quest_transparent_x = 251px;
$icon_quest_transparent_y = 172px;
$icon_quest_transparent_offset_x = -251px;
$icon_quest_transparent_offset_y = -172px;
$icon_quest_transparent_width = 24px;
$icon_quest_transparent_height = 24px;
$icon_quest_transparent_total_width = 699px;
$icon_quest_transparent_total_height = 215px;
$icon_quest_transparent_image = '../../../img/second_sprite.png';
$icon_quest_transparent = 251px 172px -251px -172px 24px 24px 699px 215px '../../../img/second_sprite.png';
$line_code_x = 426px;
$line_code_y = 181px;
$line_code_offset_x = -426px;
$line_code_offset_y = -181px;
$line_code_width = 166px;
$line_code_height = 7px;
$line_code_total_width = 699px;
$line_code_total_height = 215px;
$line_code_image = '../../../img/second_sprite.png';
$line_code = 426px 181px -426px -181px 166px 7px 699px 215px '../../../img/second_sprite.png';
$logo_x = 0px;
$logo_y = 0px;
$logo_offset_x = 0px;
$logo_offset_y = 0px;
$logo_width = 201px;
$logo_height = 215px;
$logo_total_width = 699px;
$logo_total_height = 215px;
$logo_image = '../../../img/second_sprite.png';
$logo = 0px 0px 0px 0px 201px 215px 699px 215px '../../../img/second_sprite.png';
$logo_afiliados_jokeyplaza_x = 338px;
$logo_afiliados_jokeyplaza_y = 129px;
$logo_afiliados_jokeyplaza_offset_x = -338px;
$logo_afiliados_jokeyplaza_offset_y = -129px;
$logo_afiliados_jokeyplaza_width = 88px;
$logo_afiliados_jokeyplaza_height = 64px;
$logo_afiliados_jokeyplaza_total_width = 699px;
$logo_afiliados_jokeyplaza_total_height = 215px;
$logo_afiliados_jokeyplaza_image = '../../../img/second_sprite.png';
$logo_afiliados_jokeyplaza = 338px 129px -338px -129px 88px 64px 699px 215px '../../../img/second_sprite.png';
$logo_afiliados_ofertop_x = 554px;
$logo_afiliados_ofertop_y = 65px;
$logo_afiliados_ofertop_offset_x = -554px;
$logo_afiliados_ofertop_offset_y = -65px;
$logo_afiliados_ofertop_width = 80px;
$logo_afiliados_ofertop_height = 64px;
$logo_afiliados_ofertop_total_width = 699px;
$logo_afiliados_ofertop_total_height = 215px;
$logo_afiliados_ofertop_image = '../../../img/second_sprite.png';
$logo_afiliados_ofertop = 554px 65px -554px -65px 80px 64px 699px 215px '../../../img/second_sprite.png';
$logo_afiliados_playaccesorios_x = 448px;
$logo_afiliados_playaccesorios_y = 65px;
$logo_afiliados_playaccesorios_offset_x = -448px;
$logo_afiliados_playaccesorios_offset_y = -65px;
$logo_afiliados_playaccesorios_width = 106px;
$logo_afiliados_playaccesorios_height = 64px;
$logo_afiliados_playaccesorios_total_width = 699px;
$logo_afiliados_playaccesorios_total_height = 215px;
$logo_afiliados_playaccesorios_image = '../../../img/second_sprite.png';
$logo_afiliados_playaccesorios = 448px 65px -448px -65px 106px 64px 699px 215px '../../../img/second_sprite.png';
$logo_afiliados_tucloset_x = 338px;
$logo_afiliados_tucloset_y = 65px;
$logo_afiliados_tucloset_offset_x = -338px;
$logo_afiliados_tucloset_offset_y = -65px;
$logo_afiliados_tucloset_width = 110px;
$logo_afiliados_tucloset_height = 64px;
$logo_afiliados_tucloset_total_width = 699px;
$logo_afiliados_tucloset_total_height = 215px;
$logo_afiliados_tucloset_image = '../../../img/second_sprite.png';
$logo_afiliados_tucloset = 338px 65px -338px -65px 110px 64px 699px 215px '../../../img/second_sprite.png';
$number_active_x = 634px;
$number_active_y = 65px;
$number_active_offset_x = -634px;
$number_active_offset_y = -65px;
$number_active_width = 45px;
$number_active_height = 45px;
$number_active_total_width = 699px;
$number_active_total_height = 215px;
$number_active_image = '../../../img/second_sprite.png';
$number_active = 634px 65px -634px -65px 45px 45px 699px 215px '../../../img/second_sprite.png';
$number_unactive_x = 658px;
$number_unactive_y = 129px;
$number_unactive_offset_x = -658px;
$number_unactive_offset_y = -129px;
$number_unactive_width = 31px;
$number_unactive_height = 31px;
$number_unactive_total_width = 699px;
$number_unactive_total_height = 215px;
$number_unactive_image = '../../../img/second_sprite.png';
$number_unactive = 658px 129px -658px -129px 31px 31px 699px 215px '../../../img/second_sprite.png';
$send_pin_x = 201px;
$send_pin_y = 134px;
$send_pin_offset_x = -201px;
$send_pin_offset_y = -134px;
$send_pin_width = 60px;
$send_pin_height = 38px;
$send_pin_total_width = 699px;
$send_pin_total_height = 215px;
$send_pin_image = '../../../img/second_sprite.png';
$send_pin = 201px 134px -201px -134px 60px 38px 699px 215px '../../../img/second_sprite.png';
$step_active_x = 201px;
$step_active_y = 67px;
$step_active_offset_x = -201px;
$step_active_offset_y = -67px;
$step_active_width = 137px;
$step_active_height = 67px;
$step_active_total_width = 699px;
$step_active_total_height = 215px;
$step_active_image = '../../../img/second_sprite.png';
$step_active = 201px 67px -201px -67px 137px 67px 699px 215px '../../../img/second_sprite.png';
$step_unactive_x = 201px;
$step_unactive_y = 0px;
$step_unactive_offset_x = -201px;
$step_unactive_offset_y = 0px;
$step_unactive_width = 137px;
$step_unactive_height = 67px;
$step_unactive_total_width = 699px;
$step_unactive_total_height = 215px;
$step_unactive_image = '../../../img/second_sprite.png';
$step_unactive = 201px 0px -201px 0px 137px 67px 699px 215px '../../../img/second_sprite.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
