/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$arrow_select_name = 'arrow_select';
$arrow_select_x = 201px;
$arrow_select_y = 198px;
$arrow_select_offset_x = -201px;
$arrow_select_offset_y = -198px;
$arrow_select_width = 20px;
$arrow_select_height = 12px;
$arrow_select_total_width = 570px;
$arrow_select_total_height = 375px;
$arrow_select_image = '../../../img/second_sprite.png';
$arrow_select = 201px 198px -201px -198px 20px 12px 570px 375px '../../../img/second_sprite.png' 'arrow_select';
$btn_clean_numbers_name = 'btn_clean_numbers';
$btn_clean_numbers_x = 31px;
$btn_clean_numbers_y = 344px;
$btn_clean_numbers_offset_x = -31px;
$btn_clean_numbers_offset_y = -344px;
$btn_clean_numbers_width = 56px;
$btn_clean_numbers_height = 27px;
$btn_clean_numbers_total_width = 570px;
$btn_clean_numbers_total_height = 375px;
$btn_clean_numbers_image = '../../../img/second_sprite.png';
$btn_clean_numbers = 31px 344px -31px -344px 56px 27px 570px 375px '../../../img/second_sprite.png' 'btn_clean_numbers';
$btn_yellow_name = 'btn_yellow';
$btn_yellow_x = 338px;
$btn_yellow_y = 0px;
$btn_yellow_offset_x = -338px;
$btn_yellow_offset_y = 0px;
$btn_yellow_width = 232px;
$btn_yellow_height = 52px;
$btn_yellow_total_width = 570px;
$btn_yellow_total_height = 375px;
$btn_yellow_image = '../../../img/second_sprite.png';
$btn_yellow = 338px 0px -338px 0px 232px 52px 570px 375px '../../../img/second_sprite.png' 'btn_yellow';
$float_cloud_name = 'float_cloud';
$float_cloud_x = 0px;
$float_cloud_y = 215px;
$float_cloud_offset_x = 0px;
$float_cloud_offset_y = -215px;
$float_cloud_width = 361px;
$float_cloud_height = 65px;
$float_cloud_total_width = 570px;
$float_cloud_total_height = 375px;
$float_cloud_image = '../../../img/second_sprite.png';
$float_cloud = 0px 215px 0px -215px 361px 65px 570px 375px '../../../img/second_sprite.png' 'float_cloud';
$icon_calendar_name = 'icon_calendar';
$icon_calendar_x = 87px;
$icon_calendar_y = 344px;
$icon_calendar_offset_x = -87px;
$icon_calendar_offset_y = -344px;
$icon_calendar_width = 26px;
$icon_calendar_height = 26px;
$icon_calendar_total_width = 570px;
$icon_calendar_total_height = 375px;
$icon_calendar_image = '../../../img/second_sprite.png';
$icon_calendar = 87px 344px -87px -344px 26px 26px 570px 375px '../../../img/second_sprite.png' 'icon_calendar';
$icon_padlock_name = 'icon_padlock';
$icon_padlock_x = 338px;
$icon_padlock_y = 90px;
$icon_padlock_offset_x = -338px;
$icon_padlock_offset_y = -90px;
$icon_padlock_width = 24px;
$icon_padlock_height = 26px;
$icon_padlock_total_width = 570px;
$icon_padlock_total_height = 375px;
$icon_padlock_image = '../../../img/second_sprite.png';
$icon_padlock = 338px 90px -338px -90px 24px 26px 570px 375px '../../../img/second_sprite.png' 'icon_padlock';
$icon_quest_transparent_name = 'icon_quest_transparent';
$icon_quest_transparent_x = 311px;
$icon_quest_transparent_y = 179px;
$icon_quest_transparent_offset_x = -311px;
$icon_quest_transparent_offset_y = -179px;
$icon_quest_transparent_width = 24px;
$icon_quest_transparent_height = 24px;
$icon_quest_transparent_total_width = 570px;
$icon_quest_transparent_total_height = 375px;
$icon_quest_transparent_image = '../../../img/second_sprite.png';
$icon_quest_transparent = 311px 179px -311px -179px 24px 24px 570px 375px '../../../img/second_sprite.png' 'icon_quest_transparent';
$line_code_name = 'line_code';
$line_code_x = 221px;
$line_code_y = 203px;
$line_code_offset_x = -221px;
$line_code_offset_y = -203px;
$line_code_width = 166px;
$line_code_height = 7px;
$line_code_total_width = 570px;
$line_code_total_height = 375px;
$line_code_image = '../../../img/second_sprite.png';
$line_code = 221px 203px -221px -203px 166px 7px 570px 375px '../../../img/second_sprite.png' 'line_code';
$logo_name = 'logo';
$logo_x = 0px;
$logo_y = 0px;
$logo_offset_x = 0px;
$logo_offset_y = 0px;
$logo_width = 201px;
$logo_height = 215px;
$logo_total_width = 570px;
$logo_total_height = 375px;
$logo_image = '../../../img/second_sprite.png';
$logo = 0px 0px 0px 0px 201px 215px 570px 375px '../../../img/second_sprite.png' 'logo';
$logo_afiliados_jokeyplaza_name = 'logo_afiliados_jokeyplaza';
$logo_afiliados_jokeyplaza_x = 186px;
$logo_afiliados_jokeyplaza_y = 280px;
$logo_afiliados_jokeyplaza_offset_x = -186px;
$logo_afiliados_jokeyplaza_offset_y = -280px;
$logo_afiliados_jokeyplaza_width = 88px;
$logo_afiliados_jokeyplaza_height = 64px;
$logo_afiliados_jokeyplaza_total_width = 570px;
$logo_afiliados_jokeyplaza_total_height = 375px;
$logo_afiliados_jokeyplaza_image = '../../../img/second_sprite.png';
$logo_afiliados_jokeyplaza = 186px 280px -186px -280px 88px 64px 570px 375px '../../../img/second_sprite.png' 'logo_afiliados_jokeyplaza';
$logo_afiliados_ofertop_name = 'logo_afiliados_ofertop';
$logo_afiliados_ofertop_x = 106px;
$logo_afiliados_ofertop_y = 280px;
$logo_afiliados_ofertop_offset_x = -106px;
$logo_afiliados_ofertop_offset_y = -280px;
$logo_afiliados_ofertop_width = 80px;
$logo_afiliados_ofertop_height = 64px;
$logo_afiliados_ofertop_total_width = 570px;
$logo_afiliados_ofertop_total_height = 375px;
$logo_afiliados_ofertop_image = '../../../img/second_sprite.png';
$logo_afiliados_ofertop = 106px 280px -106px -280px 80px 64px 570px 375px '../../../img/second_sprite.png' 'logo_afiliados_ofertop';
$logo_afiliados_playaccesorios_name = 'logo_afiliados_playaccesorios';
$logo_afiliados_playaccesorios_x = 0px;
$logo_afiliados_playaccesorios_y = 280px;
$logo_afiliados_playaccesorios_offset_x = 0px;
$logo_afiliados_playaccesorios_offset_y = -280px;
$logo_afiliados_playaccesorios_width = 106px;
$logo_afiliados_playaccesorios_height = 64px;
$logo_afiliados_playaccesorios_total_width = 570px;
$logo_afiliados_playaccesorios_total_height = 375px;
$logo_afiliados_playaccesorios_image = '../../../img/second_sprite.png';
$logo_afiliados_playaccesorios = 0px 280px 0px -280px 106px 64px 570px 375px '../../../img/second_sprite.png' 'logo_afiliados_playaccesorios';
$logo_afiliados_tucloset_name = 'logo_afiliados_tucloset';
$logo_afiliados_tucloset_x = 201px;
$logo_afiliados_tucloset_y = 134px;
$logo_afiliados_tucloset_offset_x = -201px;
$logo_afiliados_tucloset_offset_y = -134px;
$logo_afiliados_tucloset_width = 110px;
$logo_afiliados_tucloset_height = 64px;
$logo_afiliados_tucloset_total_width = 570px;
$logo_afiliados_tucloset_total_height = 375px;
$logo_afiliados_tucloset_image = '../../../img/second_sprite.png';
$logo_afiliados_tucloset = 201px 134px -201px -134px 110px 64px 570px 375px '../../../img/second_sprite.png' 'logo_afiliados_tucloset';
$number_active_name = 'number_active';
$number_active_x = 311px;
$number_active_y = 134px;
$number_active_offset_x = -311px;
$number_active_offset_y = -134px;
$number_active_width = 45px;
$number_active_height = 45px;
$number_active_total_width = 570px;
$number_active_total_height = 375px;
$number_active_image = '../../../img/second_sprite.png';
$number_active = 311px 134px -311px -134px 45px 45px 570px 375px '../../../img/second_sprite.png' 'number_active';
$number_unactive_name = 'number_unactive';
$number_unactive_x = 0px;
$number_unactive_y = 344px;
$number_unactive_offset_x = 0px;
$number_unactive_offset_y = -344px;
$number_unactive_width = 31px;
$number_unactive_height = 31px;
$number_unactive_total_width = 570px;
$number_unactive_total_height = 375px;
$number_unactive_image = '../../../img/second_sprite.png';
$number_unactive = 0px 344px 0px -344px 31px 31px 570px 375px '../../../img/second_sprite.png' 'number_unactive';
$send_pin_name = 'send_pin';
$send_pin_x = 338px;
$send_pin_y = 52px;
$send_pin_offset_x = -338px;
$send_pin_offset_y = -52px;
$send_pin_width = 60px;
$send_pin_height = 38px;
$send_pin_total_width = 570px;
$send_pin_total_height = 375px;
$send_pin_image = '../../../img/second_sprite.png';
$send_pin = 338px 52px -338px -52px 60px 38px 570px 375px '../../../img/second_sprite.png' 'send_pin';
$step_active_name = 'step_active';
$step_active_x = 201px;
$step_active_y = 67px;
$step_active_offset_x = -201px;
$step_active_offset_y = -67px;
$step_active_width = 137px;
$step_active_height = 67px;
$step_active_total_width = 570px;
$step_active_total_height = 375px;
$step_active_image = '../../../img/second_sprite.png';
$step_active = 201px 67px -201px -67px 137px 67px 570px 375px '../../../img/second_sprite.png' 'step_active';
$step_unactive_name = 'step_unactive';
$step_unactive_x = 201px;
$step_unactive_y = 0px;
$step_unactive_offset_x = -201px;
$step_unactive_offset_y = 0px;
$step_unactive_width = 137px;
$step_unactive_height = 67px;
$step_unactive_total_width = 570px;
$step_unactive_total_height = 375px;
$step_unactive_image = '../../../img/second_sprite.png';
$step_unactive = 201px 0px -201px 0px 137px 67px 570px 375px '../../../img/second_sprite.png' 'step_unactive';
$spritesheet_width = 570px;
$spritesheet_height = 375px;
$spritesheet_image = '../../../img/second_sprite.png';
$spritesheet_sprites = $arrow_select $btn_clean_numbers $btn_yellow $float_cloud $icon_calendar $icon_padlock $icon_quest_transparent $line_code $logo $logo_afiliados_jokeyplaza $logo_afiliados_ofertop $logo_afiliados_playaccesorios $logo_afiliados_tucloset $number_active $number_unactive $send_pin $step_active $step_unactive;
$spritesheet = 570px 375px '../../../img/second_sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
