footer
	ul.list_options_footer
		.left
			li.item_list: a(href="javascript:;",class="item") Acerca de PagoEfectivo
			li.item_list: a(href="javascript:;",class="item") Acerca de MOMO
			li.item_list: a(href="javascript:;",class="item color") ¿Que es PagoEfectivo Mòvil?
		.right
			li.item_list: a(href="javascript:;",class="item") Politica de Privacidad
			li.item_list: a(href="javascript:;",class="item") Términas y Condiciones
			li.item_list: a(href="javascript:;",class="item info") info
			li.item_list: a(href="javascript:;",class="item face") face
			li.item_list: a(href="javascript:;",class="item twiter") twiter
