
//-header
	.box_center
		h1 Flux!
header.header_task
	.wrapper_autor 
		p.autor powered by MOMO
	.wrapper_banner
		.logo
		.steps_form
			.step_sprite_active
				.wrapper_info 
					p.info Ingresa 
					p.info tus datos
					.number_sprite_active
						p.number 1
			.step_sprite_unactive.one
				.wrapper_info 
					p.info Tarjeta Visa
					p.info PagoEfectivo
					.number_sprite_unactive
						p.number 2
			.step_sprite_unactive.two
				.wrapper_info
					p.info Valida tu 
					p.info Cuenta
					.number_sprite_unactive
						p.number 3