/*!!
* Layout
* @module layout
* @class footer
* @author Paúl Díaz
*/

footer
    background-color black
    .list_options_footer
        width 980px
        margin 0 auto
        .right
        .left
            display inline-block
            .item_list
                display inline-block
            .item
                padding 0 15px
                font-size 13px
                color white
                line-height 100px
                border-right 1px solid white
            .item.color
                color #81DAF5
        .left
            text-align left
        .right 
            float right
            text-align right