/*!!
* Layout
* @module layout
* @class header
* @author Wilson Flres
*/

// stylos para - task - header
.header_task
    background-image url('../../../img/header_background.jpg')
    height 180px
    .wrapper_autor
        background-color #f5bf00
        .autor 
            padding-right 10px
            line-height 33px
            margin 0 auto
            width 980px
            font-size 13px
            text-align right
    .wrapper_banner
        position relative
        width 980px
        margin 0 auto
        .logo
            position absolute
            top -33px
            padding-left 10px
            width $logo_width
            height $logo_height
            sprite($logo)
        .steps_form
            top 17px
            position absolute
            right 0
            width 420px
            height 100px
            .step_sprite_active
                sprite($step_active)
            .step_sprite_unactive
                sprite($step_unactive)
            .step_sprite_active
            .step_sprite_unactive
                width $step_active_width
                height $step_active_height
                position absolute
                display inline-block
                bottom 0
            .step_sprite_active
                left 0
            .step_sprite_unactive.one
                left 137px
            .step_sprite_unactive.two
                left 274px
            .step_sprite_active
            .step_sprite_unactive
                .wrapper_info
                    text-align center
                    margin-top 10px
                    .info
                        font-size 17px
                        font-family $familyMediumItalic
                        margin 0
                    .number_sprite_active
                        position relative
                        text-align center
                        width $number_active_width
                        height $number_active_height
                        sprite($number_active)
                    .number_sprite_unactive
                        position relative
                        text-align center
                        width $number_unactive_width
                        height $number_unactive_height
                        sprite($number_unactive)
                    .number_sprite_unactive
                    .number_sprite_active   
                        margin 0 auto
                    .number_sprite_active  
                        margin-top -95px
                        position relative
                        .number
                            position absolute
                            top 10px
                            left 18px
                    .number_sprite_unactive
                        position relative
                        margin-top -85px   
                        .number
                            color white
                            position absolute
                            top 4px
                            left 10px                   
                                                