@require '../../_config/*'
@require '../../_mixins/*'

.wrapper_principal
	width 980px
	margin 0 auto
	position relative
	.wrapper_affiliation
		margin-top 46px
		font-family $familyMediumItalic  
		display inline-block
		vertical-align top	
		.title_affiliation
			font-size 38px
		.info_affiliation
			margin 0
			font-size 24px
			strong 
				font-family $familySemiBoldItalic
	.wrapper_form
		font-family $familyMediumItalic
		background-color #7c7c7c
		width 420px
		padding 26px
		position absolute
		top 30px
		right 10px
		.frmRegister
			.data_celular
				.lbl_celular
					font-size 20px
					color white
					margin-bottom 10px
					display block
				.select
					> select
						width 120px
						option 
							font-family $familyMediumItalic
				#txtCelular
					display inline-block
					background-color #fdf18e
					border none
					font-family $familyMediumItalic
					font-size 20px
					width 224px
					height 34px
			#numericKeypad
				margin-top 20px
				margin-left 25px
			.pin_segurity
				display inline-block
				margin-top 30px
				.lbl_pin_security
					font-size 13px
					display block
					margin-bottom 10px
					color white
				.input_passowrd
					#xPin
						display block
						width 100px
						height 34px
						border none
					.arrow_left
						sprite($icon_padlock)	
				.info_pin_security
					margin-top 10px
					font-size 13px
					.info
						margin 0
						color white
					a 
						color white
						text-decoration underline
			.info_affiliation
				margin-top 20px
				text-align center
				padding 6px
				sprite($float_cloud)
				.info
					p
						color white
						margin 0
						font-size 13 px
	
			//- document
			#lbl_document
				color white
				display block
				margin-bottom 10px
			#txtCalendar
			#txtDocument
				margin 5px
				height 34px
				border none
				width 100px		
			//-
			.lbl_names
			.lbl_surnames
			.lbl_email
				display block
				color white
				margin-bottom 10px
			#txtName
			#txtEmail
				width 200px
				height 34px
				border none	
			#txtEmail
				width 100%
			#txtSurnames
				height 34px
				width 40%
				margin-right 10px	
				border none
			
			.btn_next_step
				position relative
				sprite($btn_yellow)
				text-align center
				p 
					position absolute
					top 20%
					left 20%
	.wrapper_image_friends
		background-image url('../../../img/friends.png')
		width 744px
		height 498px
		margin-top -60px
		margin-left -150px